<table id="hor-minimalist-b" summary="Employee Pay Sheet">
    <thead>
    	<tr>
        	<th scope="col">Id</th>
        	<th scope="col">Employee</th>
        	<th scope="col">Job Desc</th>
            <th scope="col">Salary</th>
            <th scope="col">Bonus</th>
            <th scope="col">Supervisor</th>
        </tr>
    </thead>
    <tbody>
    	<tr  *ngFor="let employee of employees" (click)="onSelect(employee)">
        	<td>{{employee.id}}</td>
        	<td>{{employee.name}}</td>
        	<td>{{employee.job}}</td>
        	<td>{{employee.salary}}</td>
        	<td>{{employee.bonus}}</td>
        	<td>{{employee.supervisor}}</td>
        </tr>
    </tbody>
</table>
<br/>

<h3>
Click data for detail, update and delete
</h3>